* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,
body {
  height: 100%;
  padding: 20px;
}

body {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 3fr 2fr 2fr 2fr;
}

.box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 24, 116);
  color: white;
}

.box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
}
.box-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 81, 126);
  color: white;
}
.box-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 36, 77);
  color: white;
}
.box-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 208, 89);
}
.box-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(133, 163, 87);
}
.box-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 240, 156);
}
