* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 800px;
  height: 600px;
  border: 2px solid gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 17px;
  padding: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.card {
  display: grid;
  grid-template-rows: 50px 1fr;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background-color: white;
}

.card > div:nth-child(1) {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.card > div:nth-child(2) {
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.card h1 {
  font-size: 22px;
}

.card span {
  font-size: 24px;
}

.card .icon {
  margin-bottom: 12px;
}

.card.card-blue {
  color: #0097a7;
  border: 2px solid #80deea;
}

.card.card-yellow {
  color: #ffa000;
  border: 2px solid #ffe082;
}

.card.card-red {
  color: #d32e2e;
  border: 2px solid #ef9a9a;
}

.card.card-blue > div:nth-child(1) {
  border-bottom: 2px solid #80deea;
  background-color: #e0f7fa;
}

.card.card-yellow > div:nth-child(1) {
  border-bottom: 2px solid #ffe082;
  background-color: #fff8e1;
}

.card.card-red > div:nth-child(1) {
  border-bottom: 2px solid #ef9a9a;
  background-color: #ffebee;
}
