* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  padding: 17px;
  gap: 17px;
}
body > div:nth-child(1) {
  background-color: rgb(117, 117, 117);
  color: rgb(255, 255, 255);
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding: 10px;
}

body > div:nth-child(3) {
  background-color: rgb(221, 221, 221);
  color: rgb(90, 89, 89);
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding: 10px;
}

body > div:nth-child(4) {
  background-color: rgb(117, 117, 117);
  color: rgb(255, 255, 255);
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  align-items: center;
  background-color: gray;
  border-radius: 7px;
  padding: 10px;
}
