* {
  box-sizing: border-box;
}
body {
  background-color: white;
  padding: 10px;
  color: #ffa000;
  font-family: 'Times New Roman', Times, serif;
}

#container {
  background-color: #fff8e1;
  width: 227px;
  height: 174px;
  display: flex;

  border-radius: 5px;
  border-color: #ffe082;
  border-style: solid;
  border-width: 2px;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}
#container > div {
  padding: 20px;
  font-size: 20px;
}

#container > p {
  color: #ffa000;
  font-size: 20px;
}
