* {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
}

html,
body {
  height: 100%;
}

body {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

body > div {
  background-color: rgb(70, 70, 70);
  color: white;
  display: flex;
  align-items: center;
  border-radius: 7px;
  padding: 20px;
  font-size: 40px;
}
