* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 3fr 50px;
  background-color: rgb(48, 48, 48);
  padding: 5px;
}

.box-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}
.box-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box-3 {
  display: grid;
  grid-template-rows: 20px 2fr;
  gap: 10px;
}
.box-4 {
  display: grid;
  grid-template-columns: 2fr 270px;
  column-gap: 10px;
}

.box-5 {
  display: grid;
  grid-auto-rows: 170px;
  gap: 10px;
}
.box-6 {
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 30px 1fr 40px;
  align-items: center;
  padding: 5px;
}

.box-5 div:nth-child(1) {
  background-color: rgb(100, 100, 100);
  border-radius: 5px;
}

.box-5 div:nth-child(2) {
  background-color: rgb(136, 243, 159);
  border-radius: 5px;
}
.name {
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  padding: 3px;
  color: white;
}

.error-1 {
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
}

.button-finish {
  display: flex;
  justify-content: end;
  align-items: center;
}

.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  display: flex;
  align-items: center;
}

.info-user {
  display: grid;
  grid-template-rows: auto 1fr 30px;
}

.info-user > div {
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
}

.info-user > div:nth-child(1) {
  color: white;
  display: flex;
  justify-content: end;
}

.info-user img {
  display: flex;
}
